

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1>Lista samochodów</h1>
        </div>
        <div class="card-body">
            <div class="list-group">
                {% for car in cars %}
                    <a href="{% url 'car_detail' car.id %}" class="list-group-item list-group-item-action">
                        {{ car.brand }} {{ car.model }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'car_create' %}" class="btn btn-success">Dodaj nowy samochód</a>
        </div>
    </div>
</div>
{% endblock %}
