{#<!-- templates/registration/password_reset_complete.html -->#}
{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#  <h2>Hasło zostało pomyślnie zresetowane</h2>#}
{#  <p>Możesz teraz użyć swojego nowego hasła do logowania.</p>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Hasło zostało pomyślnie zresetowane</h2>
    <p class="text-center">Możesz teraz użyć swojego nowego hasła do logowania.</p>
    <div class="d-grid mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Przejdź do logowania</a>
    </div>
</div>
{% endblock %}
