{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#  <h2>Resetowanie hasła</h2>#}
{#  <p>Wpisz swój adres e-mail, aby otrzymać link do resetowania hasła.</p>#}
{##}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Wyślij link do resetowania hasła</button>#}
{#  </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Resetowanie hasła</h2>
    <p class="text-center">Wpisz swój adres e-mail, aby otrzymać link do resetowania hasła.</p>

    <form method="post" class="mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Wyślij link do resetowania hasła</button>
        </div>
    </form>
</div>
{% endblock %}
