{% extends 'base.html' %}

{% block content %}
<h2>Płatność przelewem bankowym</h2>
<p><strong>Kwota do zapłaty:</strong> {{ rental_data.total_cost }} PLN</p>
<p><strong>Dane do przelewu:</strong></p>
<ul>
  <li><strong>Imię i nazwisko:</strong> Piotr Wojtalewicz</li>
  <li><strong>Nazwa firmy:</strong> Car_rental_PW</li>
  <li><strong>Numer konta:</strong> 1111 1111 1111 1111</li>
</ul>
<p><strong>Prosimy, aby w tytule przelewu wpisać:</strong></p>
<ul>
  <li>Samochód: {{ car.name }}</li>
  <li>Okres rezerwacji: {{ rental_data.start_date }} - {{ rental_data.end_date }}</li>
</ul>
<p>Po zaksięgowaniu płatności otrzymasz potwierdzenie na podany adres e-mail.</p>
{% endblock %}
