{% extends 'base.html' %}

{% block content %}
  <h1>Historia wypożyczeń</h1>

  {% if rentals %}
    <ul>
      {% for rental in rentals %}
        <li>
          <strong>Samochód:</strong> {{ rental.car.brand }} {{ rental.car.model }}<br>
          <strong>Data wypożyczenia:</strong> {{ rental.start_date }}<br>
          <strong>Data zwrotu:</strong> {{ rental.end_date }}<br>
          <strong>Status:</strong> {{ rental.get_status_display }}<br>
          <strong>Całkowity koszt:</strong> {{ rental.total_cost }} PLN<br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nie masz jeszcze historii wypożyczeń.</p>
  {% endif %}
{% endblock %}
