{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#  <h1>Wypożyczenie samochodu: {{ car.brand }} {{ car.model }}</h1>#}
{##}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{##}
{#    <button type="submit">Zarezerwuj</button>#}
{#  </form>#}
{##}
{#  <p>Samochód: {{ car.brand }} {{ car.model }} ({% if car.is_available %}dostępny{% else %}niedostępny{% endif %})</p>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
  <h2>Wypożycz samochód: {{ car.name }}</h2>

  <form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="accept_terms" name="accept_terms" required>
      <label class="form-check-label" for="accept_terms">
        Akceptuję <a href="{% url 'terms_conditions' %}?car_id={{ car.id }}" target="_blank">warunki wypożyczenia</a>.
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Zarezerwuj</button>
  </form>
{% endblock %}